{% extends 'base/base.html'%}

{% block title %}
    Student List
{% endblock%}

{% block content %}

<div class="container">
    <form action="{{request.path}}" method="GET" class="text-center p-4">
        <div style="display: flex;">
            <input type="text" class="form-control" name="q" placeholder="Search...">
            <button type="submit" class="btn btn-warning col-1"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
            </svg></button> 
        </div>
    </form>
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-primary">{{message}}</div>
      {% endfor %}
    {% endif %}
</div>

<div class="container">
    <table class="table">
    <tr>
        <td class="bg-warning p-3 rounded">
         <a class="text-dark" onclick="toggle('hide')" style="text-decoration: none;"><h4>    
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
            <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
            <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
          </svg> Toggle Visibility <a href="{% url 'patient-form' %}" class="text-dark" style="text-decoration: none; float: right;"> <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
          </svg> Add Student</a></h4></a>
        </div>
        </td>
    </tr>
    <tr>
        <td class="table-light">
            <div id="hide">
                <table class="table table-hover" >
                    <thead>
                        <tr>
                            <th>STUDENT NAME</th>
                            <th>STUDENT NUMBER</th>
                            <th>ACTION</th>
                        </tr>
                    </thead>
        {% for patient in patients %}
                    <tr>
                        <td>{{ patient.first_name }} {{patient.last_name}} </td>
                        <td>{{ patient.student_number }}</td>
                        <td><a class="btn btn-sm btn-success"  href="{% url 'patient-details' patient.id %}">ENTER</a>
                            <form method="POST">
                                {% csrf_token %}
                                <input class="btn btn-danger" type="submit" name="{{patient.id}}" value="Delete">
                            </form>
                            
                        </td>
                    </tr>
        {% endfor %}
                </table>
            </div>
        </div>
        </td>
    </tr>
    </table>
    </div>

<script>
    function toggle(ID){
        var element = document.getElementById(ID);
        if(element.style.display === "none"){
            element.style.display = "block";
        }else{
            element.style.display = "none";
        }
    }
    </script>
{% endblock %}
