{% extends 'base/base.html'%}

{% block title %}
    Patient Details
{% endblock%}

{% block content %}
<br>
<div class="container">
  <table class="table rounded">
    <tr>
      <td class="bg-warning rounded"><h4>Patient Profile</h4>
        <h5>
          <!--<a href="{% url 'patient-permissions' patient.id %}">Permissions</a>-->
          <a href="{% url 'patient-form-update' patient.id %}">Edit</a>
        </h5>
      </td>
    </tr>
    <tr>
      <td class="table table-light rounded">
        <div>
          <h1>{{ patient.first_name }} {{ patient.last_name }} {{ patient.middle_name}}</h1>
          <p>Student Number: {{ patient.student_number }}</p>
          <p>Grade/Year Level: {{ patient.grade_year_level }}</p>
          <p>Section: {{patient.section}}</p>
          <p>Date of Birth: {{patient.date_of_birth}}</p>
          <p>Age: {{patient.age}}</p>
          <p>Gender: {{patient.sex}}</p>
          <p>Patient Contact: {{ patient.patient_contact }}</p>
          <p>Guardian: {{ patient.guardian }}</p>
          <p>Guardian Contact: {{ patient.guardian_telephone}}</p>
          <p>Address: {{ patient.patient_address }}</p>    
      </td>
    </tr>
  </table>
</div>

<div class="container">
  <table class="table">
    <tr>
      <td class="bg-warning rounded">
        <form method="POST">
          {% csrf_token %}
        <h4>PATIENT BACKGROUND HEALTH HISTORY</h4>
        <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
          <h4><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
          </svg> Add</h4>
        </button>
        <button type="submit" class="btn btn-warning" style="float: right;" name="edit_illness">
          <h4>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
          </svg> Edit</h4>
        </button>
      </form>
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Edit</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="POST">
                  {% csrf_token %}
                  <input type="text" class="form-control mt-2" name="illness" placeholder="ILLNESS">
                  <input type="text" class="form-control mt-2" name="past" placeholder="PAST">
                  <input type="text" class="form-control mt-2" name="present" placeholder="PRESENT">
                  <br>
                  <input class="btn btn-primary" type="submit" name="illness_submit">
              </form>
            </div>
            </div>
        </div>
        </div>
      </td>
    </tr>
    <tr>
      <td class="table table-light rounded">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">ILLNESS</th>
              <th scope="col">PAST</th>
              <th scope="col">PRESENT</th>
            </tr>
          </thead>
          {% for i in illness_obj %}
          {% if editing_illness %}
          <form method="POST">
            {% csrf_token %}
            <tbody>
              <tr>
                <td><input type="text" class="form-control" name="illness_update1" value="{{i.illness_name}}"></td>
                <td><input type="text" class="form-control" name="past_update" value="{{i.past}}"></td>
                <td><input type="text" class="form-control" name="present_update" value="{{i.present}}"></td>
                <td><button class="btn btn-primary" name="illness_update" value="{{i.id}}">Save</button></td>
              </tr>
          </tbody>
          {% endif %}
          </form>
            <tbody>
              <tr>
                <td>{{i.illness_name}}</td>
                <td>{{i.past}}</td>
                <td>{{i.present}}</td>
                <td>
                  <form method="POST">
                    {% csrf_token %}
                  <input class="btn btn-danger" type="submit" name="{{i.id}}" value="Delete">
                </form></td>
              </tr>
            </tbody>
          {% endfor %}
        </table>
    </div>
      </td>
    </tr>
    
    <div class="container">
      <table class="table">
      <tr>
        <form method="POST">{% csrf_token %}
          <td class="bg-warning rounded">
           <h4 class="text-dark" style="text-decoration: none;">Patient Records</h4>
          <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#staticBackdrop1">
            <h4><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
            </svg> Add</h4>
          </button>
          <button type="submit" class="btn btn-warning" style="float: right;" name="edit_record">
            <h4>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
              <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
              <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
            </svg> Edit</h4>
          </button>
        </form>
          <div class="modal fade" id="staticBackdrop1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdrop1Label" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
              <div class="modal-header">
                  <h1 class="modal-title fs-5" id="staticBackdrop1Label">Add</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                  <form method="POST">{% csrf_token %}
                    <table class="table table-hover">
                      <tr>
                        <td><textarea class="rounded" name="chief_complains" cols="20" rows="2" placeholder="Chief Complains"></textarea></td>
                        <td><textarea class="rounded" name="action" cols="20" rows="2" placeholder="Action"></textarea></td>
                      </tr>
                      <tr>
                        <td><textarea class="rounded" name="treaments_medication" cols="20" rows="2" placeholder="Treatments/Medication"></textarea></td>
                        <td><textarea class="rounded" name="remarks" cols="20" rows="2" placeholder="Remarks"></textarea></td>
                      </tr>
                    </table>
                    <input class="btn btn-primary float-center" type="submit" name="record_submit">
                </form>
              </div>
              </div>
          </div>
          </div>
          </td>
      </tr>
      <tr>
          <td class="table-light rounded">
              <div id="hide">
                  <table class="table table-hover" >
                      <thead>
                          <tr>
                              <th>Chief Complains</th>
                              <th>Action</th>
                              <th>Treatments/Medication</th>
                              <th>Remarks</th>
                              <th>Date</th>
                          </tr>
                      </thead>
                      {% for record in p_records %}
                      {% if editing_record %}
                      <tbody>
                          <form method="POST">
                              {% csrf_token %}
                          <tr> 
                              <td><textarea class="rounded text-break" name="chief_complains_update" cols="15" rows="2">{{record.chief_complains}}</textarea></td>
                              <td><textarea class="rounded text-break" name="action_update" cols="15" rows="2">{{record.action}}</textarea></td>
                              <td><textarea class="rounded text-break" name="treaments_medication_update" cols="15" rows="2">{{record.treatments_medication}}</textarea></td>
                              <td><textarea class="rounded text-break" name="remarks_update" cols="15" rows="2">{{record.remarks}}</textarea></td>
                              <td><button class="btn btn-danger" name="record_update" value="{{record.id}}">Save</button></td>
                          </tr>
                          </form>
                      {% endif %}
                          <tr>
                              <td style="word-wrap: break-word; max-width:20px;">{{record.chief_complains}}</td>
                              <td style="word-wrap: break-word; max-width:20px;">{{record.action}}</td>
                              <td style="word-wrap: break-word; max-width:20px;">{{record.treatments_medication}}</td>
                              <td style="word-wrap: break-word; max-width:20px;">{{record.remarks}}</td>
                              <td>{{record.created_at}}</td>
                              <form method="POST">
                                  {% csrf_token %}
                                  <td>
                                    <button class="btn btn-danger" name="delete" value="{{record.id}}">Delete</button>
                                  </td>
                              </form>
                          </tr>
                          {% endfor %}
                      </tbody>
                  </table>
              </div>
          </div>
          </td>
      </tr>
  </table>
</div>
  
</div>
<div class="container">
  <a href="{% url 'patient-data' patient.id %}" class="btn btn-info">
    <h4>
      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="27" fill="currentColor" class="bi bi-clipboard2-pulse-fill" viewBox="0 0 16 16">
        <path d="M10 .5a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5.5.5 0 0 1-.5.5.5.5 0 0 0-.5.5V2a.5.5 0 0 0 .5.5h5A.5.5 0 0 0 11 2v-.5a.5.5 0 0 0-.5-.5.5.5 0 0 1-.5-.5Z"/>
        <path d="M4.085 1H3.5A1.5 1.5 0 0 0 2 2.5v12A1.5 1.5 0 0 0 3.5 16h9a1.5 1.5 0 0 0 1.5-1.5v-12A1.5 1.5 0 0 0 12.5 1h-.585c.055.156.085.325.085.5V2a1.5 1.5 0 0 1-1.5 1.5h-5A1.5 1.5 0 0 1 4 2v-.5c0-.175.03-.344.085-.5ZM9.98 5.356 11.372 10h.128a.5.5 0 0 1 0 1H11a.5.5 0 0 1-.479-.356l-.94-3.135-1.092 5.096a.5.5 0 0 1-.968.039L6.383 8.85l-.936 1.873A.5.5 0 0 1 5 11h-.5a.5.5 0 0 1 0-1h.191l1.362-2.724a.5.5 0 0 1 .926.08l.94 3.135 1.092-5.096a.5.5 0 0 1 .968-.039Z"/>
      </svg>data
    </h4>
  </a>
</div>
<br>



{% endblock %}

         