{% extends 'base/base.html'%}


{% block content %}
<style>
  input {
    border-radius: 5px;
    font-size: large;
  }
</style>
<br>
<div class="container">
  <div>
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-danger">{{message}}</div>
      {% endfor %}
    {% endif %}
  </div>
  <table class="table">
    <tr>
      <td class="table bg-warning rounded">
        <h4>Student Form</h4>
      </td>
    </tr>
    <tr>
      <td class="table table-light rounded">    
          <form method="POST" class="table">
          {% csrf_token %}
          <div class="container">
  <div class="row align-items-start">
    <div class="col" >
      <small> Treatments of sudden illness or injuries </small>
      <label>{{form.c1}}</label>
      <br>
      <small class="h6"> Giving of initial medication for child's to the nearest hospital if emergency </small>
      <label>{{form.c2}}</label>
      <br>
      <small> School authorities to take the child to the nearest hospital if emergency </small>
      <label>{{form.c3}}</label>
      <br>
      <small> Treament / Proceedure is deemed necessarry </small>
      <label>{{form.c4}}</label>
      <br>
      <label> Hospitals: </label>
      <label>{{form.hospital}}</label>
      <br>
      <label> My child is allergic to (please specify): </label>
      <label>{{form.allergy}}</label>
      <br>
      <label> Other remarks: </label>
      <label>{{form.remarks}}</label>
      <br>
      <label> Parents name: </label>
      <label> {{ form.parents_name }} </label>
      <br>
      <label> Date: </label>
      <label> {{form.date_printed}} </label>

    </div>
    <div class="col">
      <table class="table">
  <thead>
    <tr>
      <th scope="col">Name of Vaccine</th>
      <th scope="col">Date Given</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{form.vax}}</td>
      <td>{{form.date_given}}</td>
    </tr>
  </tbody>
</table>
    </div>
  </div>
    </td>
    </tr>
  </table>
  <input type="submit" name="Submit" class="btn btn-success" >
</form>
</div>
{% endblock%}